@font-face {
    font-family: 'Red October'; /*a name to be used later*/
    src: url('fonts/Red\ October.ttf'); /*URL to font*/
}

/* * {
} */


body {
    border: 1px solid black;
    margin: 0 auto;
    width: 100%;
}

header {
    border: 2px solid blue;
}

img {
    border: 1px solid black;
}

/* .imgFlow {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
} */

.logos {
    width: 80%;
    height: 80%;
}

.SovietFont {
    font-family: 'Red October', sans-serif;
}

.navFont {
    font-size: 1.5vw;
}

.baba {
    position: relative;

    font-size: 4vw;
    color: rgb(248, 245, 245);
    border: 2px solid yellow;
    border-radius: 10px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover; 
}


h2 {
    border: 1px solid black;
}

h4 {
    border: 1px solid black;
}

nav {
    border: 1px solid black;
    background-image: linear-gradient(to right, #fff2ac  0%, #ffe359  50%, #fddc35 100% );
}

main {
    border: 1px solid black;
}

section {
    border: 1px solid black;
}

.asideComm {
    border: 1px solid black;
}

.asideSocial {
    border: 1px solid black;
}

article {
    border: 1px solid black;
}

footer {
    border: 1px solid black;
}

.bord {
    border: 1px solid black;
}





