@font-face {
    font-family: 'Red October'; /*a name to be used later*/
    src: url('fonts/Red\ October.ttf'); /*URL to font*/
}

/* * {
} */


body {
    margin: 0 auto;
    width: 100%;
}

header {
    margin: 5px;
}


/* img {
} */

/* .imgFlow {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
} */

.logos {
    width: 80%;
    height: 80%;
}

.SovietFont {
    font-family: 'Red October', sans-serif;
}

.navFont {
    font-size: 1.5vw;
}

.prompt {
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px;
    text-shadow: 1px 1px 1px rgb(188, 210, 224);
    -webkit-text-stroke-color: rgb(255, 227, 68);
    border-radius: 10px;}

.bgHeader {
    background-image: url("../assets/img/bg_random_foods.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: sticky;
}

.baba {
    font-size: 7vw;
    font-weight: 100;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 4px;
    text-shadow: 5px 5px 6px rgb(221, 67, 20);
    -webkit-text-stroke-color: rgb(255, 227, 68);
    border-radius: 10px;
}

h3 {
    top: 50px;
    color: rgb(49, 45, 35);
    font-size: 3vw!important; 
    text-align: bottom;
}

/* h4 {
} */

.bgWheat {
    background-image: url("../assets/img/wheat.svg");
    background-size: 500px;
}

.pJumbotron {
    font-size: 2vw!important;
    font-weight: 500!important;
}

nav {
    background-image: linear-gradient(to right, #fff2ac  0%, #ffe359  50%, #fddc35 100% );
    padding: 5px;
}

/* main {

} */


/* .bgGradient {
    background-image: linear-gradient(to right, #fff2ac  0%, #ffe359  50%, #fddc35 100% );


} */

/* section {

} */

#map-canvas{
    height: 500px;
    width: 500px;
    border: 3px solid black;
  }

.asideComm {
    border: 1px solid black;
}

.asideSocial {
    border: 1px solid black;
}

article {
    border: 1px solid black;
}

footer {
    border: 1px solid black;
}

.bord {
    border: 1px solid black;
}

figcaption {
    background-image: linear-gradient(to right, #2f2e29  0%, #0a0909 60%,  #000000 100% );
    color: rgb(255, 221, 31);
    max-width: 400px;
    font-size: 1vw;
    font-weight: 900;
    display: block;
    float: left;
    position: absolute;
    border-radius: 1px;
    padding: 3px;
    top: 5px;
    left: 20px;
  }


/* visited link */
a:visited {
    color: rgb(41, 32, 17);
}

/* mouse over link */
a:hover {
    color: rgb(211, 24, 24);
}

/* selected link */
a:active {
    color: yellow;
}
